:root {
    --main-colour-1: #003135;
    --main-colour-2: #024950;
    --main-colour-3: #964734;
    --main-colour-4: #0fa4af;
    --main-colour-5: #afdde5;

    --text-colour-1: #c2cad0;
    --text-colour-1: #5f5656;
    --text-colour-1: #d3d9d4;
    --text-colour-white: #feffff;
    --text-colour-black: black;
}
